* {
    color: #f1f1f1;
    font-family: Courier;
    background-color: #181818;
}

body {
    margin-left: 15%;
    margin-right: 15%;
}

body * {
    height: 100%;
}

h1 {
    text-align: center;
}

footer {
    height: 5em;
    position: fixed;
    bottom: 0;
}



a:active {
    font-weight: bold;
}

a:hover {
    font-weight: bold;
}

a {
    text-decoration: none;
}

nav {
    font-size: 2em;
    padding-bottom: 1em;
}

.socials li {
    text-decoration: underline;
    padding: 1em;
}

.flex-container {
    display: flex;
    padding: unset;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-ct-cl {
    flex-direction: column;
    align-items: stretch;
}

.hor-list {
    list-style-type: none;
    justify-content: space-evenly;

}

.hor-list li {
    display: inline;
}
.content-block {
    margin: .5em 3em .5em 3em;
    padding: 2em;
    width: inherit;
}

.project-entry {
    flex-wrap: wrap;
    border:  #4f4f4f solid 3px;
    padding: 0.5em;
    margin: 0.5em;
    width: 80%;
}

.project-entry p {
    margin: 1em;
    padding: 1em;
}

.project-entry:hover * {
    font-weight: bold;
}

.controls {
    padding: 1em 5em 1em 5em;
}

.control-flex {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.skill {
    font-size: 200%;
}

.skill img {
    width: 48px;
    height: 48px;
}



.org-src-container {
    background-color: #181818;
}


.src {
    background-color: #181818;
}

.org-ul {
    margin-left: 4em;
    list-style: circle;
    font-size: 2em;
}

#table-of-contents {
    font-size: 0.8em;
    list-style: square;
}
