* {
    color: #f1f1f1;
    font-family: Courier;
}
html {
    background-image: url("../resources/bg.jpg");
}

body {
    padding-left: 25%;
    padding-right: 25%;
}

body * {
    background-color: #1f1f1f;
    height: 100%;
}

h1 {
    text-align: center;
}

footer {
    height: 5em;
}

.socials li {
    text-decoration: underline;
}

.flex-container {
    display: flex;
    padding: unset;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-ct-cl {
    flex-direction: column;
    align-items: stretch;
}

.hor-list {
    list-style-type: none;
    justify-content: space-evenly;
}

.hor-list li {
    display: inline;
}

ul {
    list-style-type: none;
}

.content-block {
    margin: .5em 3em .5em 3em;
    padding: 2em;
    width: inherit;
    border:  #4f4f4f solid 3px;
}

.project-entry {
    flex-wrap: wrap;
    border:  #4f4f4f solid 3px;
    padding: 0.5em;
    margin: 0.5em;
}

.project-entry p {
    margin: 1em;
    padding: 1em;
}

.project-entry:hover * {
    font-weight: bold;
}

.controls {
    padding: 1em 5em 1em 5em;
}

.control-flex {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.skills li {
    font-size: 200%;
}

a:active {
    font-weight: bold;
}

a:hover {
    font-weight: bold;
}

a {
    text-decoration: none;
}
